.info-group {
  margin-top: 20px;
  line-height: 40px;
  text-align: left;
}
.buttons {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
button{
  border-radius: 4px;
  color: white;
  text-align: center;
  font-size: 17px;
  cursor: pointer;  
}
.buttons button {
  padding: 14px 0;
  border: none;

}
.buttons button svg {
  font-size: 20px;
  margin-bottom: -4px;
}
.buttons button:nth-child(1) {
  background: #ff3030;
}
.buttons button:last-child {
  background: #ff9900;
}
