.review-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  border: 1px solid #95a0a7;
  width: 600px;
  height: 110px;
  border-radius: 8px;
}
.review-item .img {
  width: 91px;
  height: 91px;
  border: none;
  margin-left: 7px;
}
.review-item .img img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}
.review-details-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}
.delete-container button {
  width: 55px;
  height: 55px;
  background: rgba(235, 87, 87, 0.3);
  border: none;
  border-radius: 50%;
  margin-right: 25px;
  cursor: pointer;
}
.delete-container button:hover {
  background: rgba(235, 87, 87, 0.6);
}
.delete-container button svg {
  fill: #eb5757;
  width: 28px;
  height: 32px;
}
